@page
@model CorteCor.Pages.FuncionarioListaModel



<div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4>Lista de Funcionários</h4>
        <div>
            <a asp-page="/FuncionarioCadastro" class="btn btn-primary">Cadastrar Novo</a>
            <a asp-page="/ServicoCadastro" class="btn btn-secondary">Cadastrar Serviços</a>
            <a asp-page="/FuncionarioServicoLista" class="btn btn-info">Listar todos serviços</a>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Mensagem))
    {
        <div class="alert">
            @Model.Mensagem
        </div>
    }

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th class="d-none d-md-table-cell">Seg</th>
                <th class="d-none d-md-table-cell">Ter</th>
                <th class="d-none d-md-table-cell">Qua</th>
                <th class="d-none d-md-table-cell">Qui</th>
                <th class="d-none d-md-table-cell">Sex</th>
                <th class="d-none d-md-table-cell">Sab</th>
                <th class="d-none d-md-table-cell">Dom</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Funcionario in Model.Funcionarios)
            {
                <tr>
                    <td>@Funcionario.Nome</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.seg ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.ter ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.qua ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.qui ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.sex ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.sab ? "Sim" : "Não")</td>
                    <td class="d-none d-md-table-cell">@(Funcionario.dom ? "Sim" : "Não")</td>
                    <td class="actions">
                        <form method="post" style="display: inline;">
                            <input type="hidden" name="id" value="@Funcionario.IdFuncionario">
                            <input type="hidden" name="action" value="alterar">
                            <button class="btn btn-info">Alterar</button>
                        </form>

                        <a href="/FuncionarioServicoCadastro?idFuncionario=@Funcionario.IdFuncionario"
                            class="btn btn-warning">Vincular Serviços</a>

                        <form method="post" style="display: inline;"
                            onsubmit="return confirm('Tem certeza que deseja excluir este Funcionário?');">
                            <input type="hidden" name="id" value="@Funcionario.IdFuncionario">
                            <input type="hidden" name="action" value="excluir">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
