@page
@model UsuarioDashboardModel

<style>
    .tdStatusPendente {
        color: red;
    }

    .tdStatusAprovado {
        color: green;
    }
</style>

<style>
    .charts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .chart {
        flex: 1 1 300px;
        max-width: 400px;
        height: 250px;
        margin: 10px;
    }
</style>

<div class="container mt-1">
    @{
        string saudacao;
        int horaAtual = DateTime.Now.Hour;

        if (horaAtual >= 5 && horaAtual < 12)
        {
            saudacao = "Bom dia";
        }
        else if (horaAtual >= 12 && horaAtual < 18)
        {
            saudacao = "Boa tarde";
        }
        else
        {
            saudacao = "Boa noite";
        }
    }

    <h4 class="">@Model.NomeSalao</h4>
    <h5 class="">@saudacao, @Model.NomeUsuario!</h5>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger text-center">
            @Model.ErrorMessage
        </div>
    }
@*     <div style="float:right">
        <div class="mb-2" style="float: right;">
                <a href="Logout2" class="btn btn-danger">Sair</a>
        </div>
        <div>
            <a href="MdAlterarSenha" class="btn btn-warning mb-2">Alterar Senha</a>
        </div>
    </div> *@


    <!-- Eventos Relacionados -->
    <div class="mt-2">

                   
    </div>

    <div class="mt-5">
        <div class="charts-container">
            <div id="chartDocumentacao" class="chart"></div>
            <div id="chartCondicaoOcupacaoLote" class="chart"></div>
            <div id="chartPossuiIPTU" class="chart"></div>
        </div>

        <!-- Carrega o Google Charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawAllCharts);

            function drawAllCharts() {
                drawChart('chartDocumentacao', 'Documenta??o do Im?vel', getDataArray(@Html.Raw(Json.Serialize(Model.DocumentacaoChartData)), 'Documenta??o'));
                drawChart('chartCondicaoOcupacaoLote', 'Condi??o de Ocupa??o do Lote', getDataArray(@Html.Raw(Json.Serialize(Model.CondicaoOcupacaoLoteChartData)), 'Condi??o de Ocupa??o do Lote'));
                drawChart('chartPossuiIPTU', 'Possui IPTU', getDataArray(@Html.Raw(Json.Serialize(Model.PossuiIPTUChartData)), 'Possui IPTU'));
            }

            // Converte o objeto JSON em um array adequado para o Google Charts
            function getDataArray(chartData, labelName) {
                var arr = [];
                arr.push([labelName, 'Quantidade']);
                for (var key in chartData) {
                    if (chartData.hasOwnProperty(key)) {
                        arr.push([key, chartData[key]]);
                    }
                }
                return arr;
            }

            // Desenha um gr?fico de pizza 3D
            function drawChart(elementId, title, dataArray) {
                var data = google.visualization.arrayToDataTable(dataArray);
                var options = {
                    title: title,
                    is3D: true,
                    width: '100%',
                    height: '100%'
                };
                var chart = new google.visualization.PieChart(document.getElementById(elementId));
                chart.draw(data, options);
            }
        </script>
       
    </div>

</div>
