@page
@model UsuarioCadastroModel
@{
    ViewData["Title"] = @Model.ButtonText + " de Usuários";
}

<div class="container">
    <h4>@Model.ButtonText Usuários</h4>

    @if (!string.IsNullOrEmpty(Model.Mensagem))
    {
        <div class="alert alert-success">
            @Model.Mensagem
        </div>
    }

    <form method="post">
        <input type="hidden" name="id" value="@Model.Usuario?.IdUsuario">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" required value="@Model.Usuario?.Nome">
        </div>

        <div class="form-group">
            <label for="nome">Sobrenome</label>
            <input type="text" id="sobrenome" name="sobrenome" class="form-control" required value="@Model.Usuario?.Sobrenome">
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" class="form-control" required value="@Model.Usuario?.CPF">
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" class="form-control" required value="@Model.Usuario?.Email">
        </div>

        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone" class="form-control" required value="@Model.Usuario?.Telefone">
        </div>

        <div class="form-group">
            <label for="IdSalao">Salão</label>
            <select id="IdSalao" name="IdSalao" class="form-control" required>
                @foreach (var Salao in Model.Saloes)
                {
                    if (Model.Usuario?.IdSalao == Salao.IdSalao)
                    {
                        <option value="@Salao.IdSalao" selected>
                            @Salao.Nome
                        </option>
                    }
                    else
                    {
                        <option value="@Salao.IdSalao">
                            @Salao.Nome
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="dataEntrada">Data de Cadastro</label>
            <input type="date" id="dataEntrada" name="dataEntrada" class="form-control" required
                   value="@(Model.Usuario?.DataEntrada.ToString("yyyy-MM-dd") ?? DateTime.Now.ToString("yyyy-MM-dd"))">
        </div>

        <button type="submit" class="btn btn-primary">@Model.ButtonText</button>
    </form>
    <form method="post" asp-page-handler="EnviarCredenciais">
        <input type="hidden" name="id" value="@Model.Usuario?.IdUsuario">
        <input type="hidden" id="email" name="email" value="@Model.Usuario?.Email">
        <button type="submit" name="btCredenciais" class="btn btn-warning my-3">Enviar Credenciais</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#telefone").inputmask("(99) 99999-9999"); // Máscara para telefone no Brasil
    });

    $(document).ready(function () {
        $("#cpf").inputmask("999.999.999-99"); // Máscara para CPF
    });

    $(document).ready(function () {
        $("#email").inputmask({
            mask: "*{1,30}[.*{1,30}][.*{1,30}]@@*{1,30}[.*{2,10}][.*{1,2}]",
            greedy: false,
            onBeforePaste: function (pastedValue, opts) {
                return pastedValue.toLowerCase();
            },
            definitions: {
                '*': {
                    validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~-]",
                    casing: "lower"
                }
            }
        });
    });
</script>
